  services:
    # DERIVA Core services
    base:
      build: base
      image: isrddev/deriva-base:latest
      profiles:
        - images
    logging:
      profiles:
        - deriva-base
      extends:
        file: logging/docker-compose.yml
        service: rsyslog
    database:
      profiles:
        - deriva-base
      extends:
        file: database/docker-compose.yml
        service: postgres
    queue:
      profiles:
        - deriva-base
      extends:
        file: queue/docker-compose.yml
        service: rabbitmq
    web-rproxy:
      profiles:
        - deriva-web-rproxy
      extends:
        file: web/docker-compose.yml
        service: apache-rproxy
    web-rproxy-letsencrypt:
      profiles:
        - deriva-web-rproxy-letsencrypt
      extends:
        file: web/docker-compose.yml
        service: apache-rproxy-letsencrypt
    rproxy:
      profiles:
        - rproxy
        - deriva-web-rproxy
      extends:
        file: rproxy/docker-compose.yml
        service: traefik-static-tls
      depends_on:
        traefik-docker-proxy:
          condition: service_started
        web-rproxy:
          condition: service_healthy
    rproxy-letsencrypt:
      profiles:
        - rproxy-letsencrypt
        - deriva-web-rproxy-letsencrypt
      extends:
        file: rproxy/docker-compose.yml
        service: traefik-letsencrypt
      depends_on:
        traefik-docker-proxy:
          condition: service_started
        web-rproxy-letsencrypt:
          condition: service_healthy
    traefik-docker-proxy:
      profiles:
        - rproxy
        - deriva-web-rproxy
        - deriva-web-rproxy-letsencrypt
      extends:
        file: rproxy/docker-compose.yml
        service: traefik-docker-proxy

    # Credenza REDIS backend services
    credenza-redis:
      profiles:
        - credenza-redis
      extends:
        file: redis/docker-compose.yml
        service: credenza-redis
      restart: unless-stopped
    credenza-redis-commander:
      profiles:
        - credenza-redis-dev
      extends:
        file: redis/docker-compose.yml
        service: credenza-redis-commander
      restart: no

    # DERIVA Groups
    deriva-groups:
      profiles:
        - deriva-groups
      extends:
        file: groups/docker-compose.yml
        service: deriva-groups
      depends_on:
        rproxy:
          condition: service_started
    deriva-groups-ui:
      profiles:
        - deriva-groups
      extends:
        file: groups/docker-compose.yml
        service: deriva-groups-ui

    # DERIVA Monitoring services
    grafana-external:
      profiles:
        - deriva-monitoring
      extends:
        file: monitoring/docker-compose.yml
        service: grafana-external-https
    grafana-rproxy:
      profiles:
        - deriva-monitoring-rproxy
      extends:
        file: monitoring/docker-compose.yml
        service: grafana-rproxy
    loki:
      profiles:
        - deriva-monitoring-base
      extends:
        file: monitoring/docker-compose.yml
        service: loki
    promtail:
      profiles:
        - deriva-monitoring-base
      extends:
        file: monitoring/docker-compose.yml
        service: promtail
    prometheus:
      profiles:
        - deriva-monitoring-base
      extends:
        file: monitoring/docker-compose.yml
        service: prometheus
    node_exporter:
      profiles:
        - deriva-monitoring-base
      extends:
        file: monitoring/docker-compose.yml
        service: node_exporter
    apache_exporter:
      profiles:
        - deriva-monitoring-base
      extends:
        file: monitoring/docker-compose.yml
        service: apache_exporter
    postgres_exporter:
      profiles:
        - deriva-monitoring-base
      extends:
        file: monitoring/docker-compose.yml
        service: postgres_exporter

    # KeyCloak IDP
    keycloak:
      profiles:
        - deriva-auth-keycloak
      extends:
        file: keycloak/docker-compose.yml
        service: keycloak
      secrets:
        - keycloak_deriva_client_secret

    # Jupyter
    jupyterhub:
      profiles:
        - jupyter
      extends:
        file: jupyter/docker-compose.yml
        service: jupyterhub
      depends_on:
        jupyterhub-docker-proxy:
          condition: service_started
      secrets:
        - keycloak_deriva_client_secret
    jupyterhub-docker-proxy:
      profiles:
        - jupyter
      extends:
        file: jupyter/docker-compose.yml
        service: jupyter-docker-proxy
    jupyter-singleuser:
      profiles:
        - images
      extends:
        file: jupyter/docker-compose.yml
        service: jupyter-singleuser

    # DDNS Automatic Updater
    ddns-updater:
      profiles:
        - ddns-update
      extends:
        file: ddns-updater/docker-compose.yml
        service: ddns-updater

  volumes:
    # Deriva Core
    www:          # Webserver data
    home:         # Webserver home dirs (source code, service configs and secrets)
    pg_data:      # Postgres data
    queue:        # RabbitMQ data
    logs:         # Rsyslog logs

    # Deriva Groups
    deriva_groups:

    # Deriva Monitoring UI
    loki_wal:
    loki_data:
    grafana_data:
    prometheus_data:

    # TLS certificates
    certs:

    # Authn Services
    credenza_redis_data:
    keycloak_data:

    # JupyterHub
    jupyterhub-data:

  secrets:
    # Postgres secrets - includes Postgres password and individual Deriva service database passwords
    postgres_password:
      file: ${SECRETS_DIR}/postgres_password.txt
    postgres_ermrest_password:
      file: ${SECRETS_DIR}/postgres_ermrest_password.txt
    postgres_hatrac_password:
      file: ${SECRETS_DIR}/postgres_hatrac_password.txt
    postgres_deriva_password:
      file: ${SECRETS_DIR}/postgres_deriva_password.txt
    postgres_webauthn_password:
      file: ${SECRETS_DIR}/postgres_webauthn_password.txt
    postgres_credenza_password:
      file: ${SECRETS_DIR}/credenza_db_password.txt

    # KeyCloak client secret - used in Keycloak, Credenza and Jupyter configs
    keycloak_deriva_client_secret:
      file: ${SECRETS_DIR}/keycloak_deriva_client_secret.txt

    # Credenza DB password, used in Redis (or other backends) and Credenza config
    credenza_db_password:
      file: ${SECRETS_DIR}/credenza_db_password.txt
    # Credenza encryption key
    credenza_encryption_key:
      file: ${SECRETS_DIR}/credenza_encryption_key.txt
    # Redis commander password - used only in test environments with Redis backend
    credenza_redis_commander_password:
      file: ${SECRETS_DIR}/credenza_redis_commander_password.txt

    # JupyterHub crypt key - used to encrypt sensistive data in JupyterHub database
    jupyterhub_crypt_key:
      file: ${SECRETS_DIR}/jupyterhub_crypt_key.txt

  networks:
    internal_network:
      driver: bridge
      enable_ipv6: false
      ipam:
        config:
          - subnet: ${SUBNET}
            gateway: ${GATEWAY}
