services:
  apache:
    build: .
    container_name: deriva-webserver
    restart: no
    depends_on:
      database:
        condition: service_healthy
      queue:
        condition: service_healthy
      logging:
        condition: service_healthy
    networks:
      - internal_network
    logging:
      driver: syslog
      options:
        syslog-address: "tcp://${RSYSLOG_IP}"
        tag: "{{.Name}}"
    volumes:
      - home:/home
      - www:/var/www
      - certs:/certs
      - ./entrypoint.sh:/deriva/web/entrypoint.sh
      - ../certs:/certs-ext:ro
    environment:
      - HOSTNAME=${CONTAINER_HOSTNAME}
      - APACHE_HTTP_PORT=${HTTP_PORT}
      - APACHE_HTTPS_PORT=${HTTPS_PORT}
      - DEPLOY_ENV=${DEPLOY_ENV}
      - RSYSLOG_IP=${RSYSLOG_IP}
      - CERT_FILENAME=${CERT_FILENAME}
      - KEY_FILENAME=${KEY_FILENAME}
      - CA_FILENAME=${CA_FILENAME}
      - CERT_DIR=${CERT_DIR}
      - CREATE_TEST_DB=${CREATE_TEST_DB}
      - ERMREST_ADMIN_GROUP=${ERMREST_ADMIN_GROUP}
      - HATRAC_ADMIN_GROUP=${HATRAC_ADMIN_GROUP}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_USER=${POSTGRES_USER}
      - CREDENZA_DEFAULT_REALM=${CREDENZA_DEFAULT_REALM}
      - CREDENZA_DB_BACKEND=${CREDENZA_DB_BACKEND}
      - CREDENZA_DB_USER=${CREDENZA_DB_USER}
      - CREDENZA_DB_HOST=${CREDENZA_DB_HOST}
      - CREDENZA_DB_PORT=${CREDENZA_DB_PORT}
      - CREDENZA_DEBUG=${CREDENZA_DEBUG}
      - KEYCLOAK_BASE_URL=${KEYCLOAK_BASE_URL}
    secrets:
      - postgres_password
      - postgres_ermrest_password
      - postgres_hatrac_password
      - postgres_deriva_password
      - postgres_webauthn_password
      - postgres_credenza_password
      - keycloak_deriva_client_secret
      - credenza_db_password
      - credenza_encryption_key
    healthcheck:
      test: [ "CMD", "curl", "-fk", "https://localhost:${HTTPS_PORT}/healthcheck.txt" ]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 5s
    entrypoint: [ "/bin/bash", "/deriva/web/entrypoint.sh" ]

  apache-external:
    extends:
      service: apache
    ports:
      - "${HTTP_PORT}:${HTTP_PORT}"
      - "${HTTPS_PORT}:${HTTPS_PORT}"

  apache-rproxy:
    extends:
      service: apache
    environment:
      - RPROXY_IP=${RPROXY_IP}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.apache.rule=Host(`${CONTAINER_HOSTNAME}`) || Host(`${CONTAINER_HOSTNAME_INTERNAL}`)"
      - "traefik.http.routers.apache.entrypoints=websecure"
      - "traefik.http.routers.apache.tls=true"
      - "traefik.http.routers.apache.tls.options=mintls13@file"
      - "traefik.http.routers.apache.priority=1"
      - "traefik.http.routers.apache.service=apache"
      - "traefik.http.services.apache.loadbalancer.server.scheme=https"
      - "traefik.http.services.apache.loadbalancer.server.port=${HTTPS_PORT}"
      - "traefik.http.services.apache.loadbalancer.serversTransport=skipVerify@file"

  apache-rproxy-letsencrypt:
    extends:
      service: apache-rproxy
    labels:
      - "traefik.http.routers.apache.tls.certresolver=letsencrypt"
